Repository Team-E2I4/Team-E2I4-TikiTaza-BE, pull requests merged in 2024-02, with the labels that each got.

#5 feat: 회원 CRUD & 로그아웃 기능 구현
  api/api-member/src/main/java/com/pgms/apimember/controller/AuthController.java
  api/api-member/src/main/java/com/pgms/apimember/controller/MemberController.java
  api/api-member/src/main/java/com/pgms/apimember/dto/request/NicknameUpdateRequest.java
  api/api-member/src/main/java/com/pgms/apimember/dto/response/MemberGetResponse.java
  api/api-member/src/main/java/com/pgms/apimember/exception/MemberException.java
  api/api-member/src/main/java/com/pgms/apimember/exception/MemberGlobalExceptionHandler.java
  api/api-member/src/main/java/com/pgms/apimember/service/AuthService.java
  api/api-member/src/main/java/com/pgms/apimember/service/MemberService.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/BaseErrorCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/MemberErrorCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/common/SecurityErrorCode.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/member/Member.java
  core/core-domain/src/main/java/com/pgms/coredomain/repository/MemberRepository.java
  core/core-infra-redis/src/main/java/com/pgms/coreinfraredis/config/RedisConfig.java
  core/core-infra-redis/src/main/java/com/pgms/coreinfraredis/repository/RedisRepository.java
  core/core-security/src/main/java/com/pgms/coresecurity/config/WebMvcConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/config/WebSecurityConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/exception/SecurityException.java
  core/core-security/src/main/java/com/pgms/coresecurity/handler/OAuth2AuthenticationSuccessHandler.java
  core/core-security/src/main/java/com/pgms/coresecurity/jwt/JwtAuthenticationFilter.java
  core/core-security/src/main/java/com/pgms/coresecurity/jwt/JwtTokenProvider.java
  core/core-security/src/main/java/com/pgms/coresecurity/resolver/CurrentAccount.java
  core/core-security/src/main/java/com/pgms/coresecurity/resolver/CurrentAccountArgumentResolver.java
Labels: feat, member

#12 docs: Swagger 적용
  api/api-game/src/main/java/com/pgms/apigame/dto/PageCondition.java
  api/api-member/src/main/java/com/pgms/apimember/annotation/SwaggerResponseAuth.java
  api/api-member/src/main/java/com/pgms/apimember/controller/AuthController.java
  build.gradle
  core/core-domain/src/main/java/com/pgms/coredomain/config/SwaggerConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/config/WebSecurityConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/resolver/CurrentAccount.java
  http/test.http
Labels: docs

#46 refactor: 웹소켓 엔드포인트 통합 및 메세지 타입 분리
  api/src/main/java/com/pgms/api/domain/game/dto/response/GameInfoUpdateResponse.java
  api/src/main/java/com/pgms/api/domain/game/service/GameRoomService.java
  api/src/main/java/com/pgms/api/domain/game/service/GameService.java
  api/src/main/java/com/pgms/api/socket/controller/GameRoomSocketController.java
  api/src/main/java/com/pgms/api/socket/controller/GameSocketController.java
  api/src/main/java/com/pgms/api/socket/dto/GameMessage.java
  api/src/main/java/com/pgms/api/socket/dto/GameMessageType.java
  api/src/main/java/com/pgms/api/socket/dto/GameRoomMessage.java
  api/src/main/java/com/pgms/api/socket/dto/GameRoomMessageType.java
  api/src/main/java/com/pgms/api/socket/dto/Message.java
  api/src/main/java/com/pgms/api/socket/dto/MessageType.java
  api/src/main/resources/templates/index.html
  core/core-domain/src/main/java/com/pgms/coredomain/domain/game/GameInfo.java
  core/core-infra-redis/src/main/java/com/pgms/coreinfraredis/repository/RedisRepository.java
  http/test.http
Labels: refactor, game

#47 feat: 유저 전체 랭킹 기능 구현
  api/src/main/java/com/pgms/api/ApiApplication.java
  api/src/main/java/com/pgms/api/domain/game/service/GameRoomService.java
  api/src/main/java/com/pgms/api/domain/rank/controller/RankController.java
  api/src/main/java/com/pgms/api/domain/rank/dto/MemberRankResponse.java
  api/src/main/java/com/pgms/api/domain/rank/service/RankService.java
  api/src/main/java/com/pgms/api/scheduler/RankingScheduler.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/game/GameRank.java
  core/core-domain/src/main/java/com/pgms/coredomain/repository/GameRankRepository.java
Labels: feat, rank

#49 feat: 회원, 게스트 분리
  api/src/main/java/com/pgms/api/domain/game/controller/GameRoomController.java
  api/src/main/java/com/pgms/api/domain/game/service/GameRoomService.java
  api/src/main/java/com/pgms/api/domain/game/service/GameService.java
  api/src/main/java/com/pgms/api/domain/member/controller/AuthController.java
  api/src/main/java/com/pgms/api/domain/member/controller/MemberController.java
  api/src/main/java/com/pgms/api/domain/member/dto/response/AccountGetResponse.java
  api/src/main/java/com/pgms/api/domain/member/dto/response/MemberGetResponse.java
  api/src/main/java/com/pgms/api/domain/member/service/AuthService.java
  api/src/main/java/com/pgms/api/domain/member/service/MemberService.java
  api/src/main/java/com/pgms/api/socket/controller/GameRoomSocketController.java
  api/src/main/java/com/pgms/api/socket/controller/GameSocketController.java
  api/src/main/java/com/pgms/api/socket/handler/FilterChannelInterceptor.java
  api/src/main/java/com/pgms/api/socket/handler/WebSocketEventHandler.java
  api/src/main/resources/templates/index.html
  core/core-domain/src/main/resources/application.properties
  core/core-infra-redis/src/main/java/com/pgms/coreinfraredis/CoreRedisConfig.java
  core/core-infra-redis/src/main/java/com/pgms/coreinfraredis/entity/Guest.java
  core/core-infra-redis/src/main/java/com/pgms/coreinfraredis/repository/GuestRepository.java
  core/core-infra-redis/src/main/java/com/pgms/coreinfraredis/repository/RedisRepository.java
  core/core-security/src/main/java/com/pgms/coresecurity/config/WebSecurityConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/jwt/JwtAuthenticationFilter.java
  core/core-security/src/main/java/com/pgms/coresecurity/jwt/JwtTokenProvider.java
  core/core-security/src/main/java/com/pgms/coresecurity/resolver/Account.java
  core/core-security/src/main/java/com/pgms/coresecurity/resolver/CurrentAccountArgumentResolver.java
  core/core-security/src/main/java/com/pgms/coresecurity/service/MemberDetailsService.java
  core/core-security/src/main/java/com/pgms/coresecurity/user/normal/UserDetailsImpl.java
  core/core-security/src/main/java/com/pgms/coresecurity/util/SecurityUtil.java
  http/test.http
Labels: refactor, member

#52 feat: OAuth2.0 카카오 로그인 구현 방식 변경
  api/src/main/java/com/pgms/api/domain/member/controller/AuthController.java
  api/src/main/java/com/pgms/api/domain/member/dto/request/KakaoLoginRequest.java
  api/src/main/java/com/pgms/api/domain/member/dto/response/KakaoUserGetResponse.java
  api/src/main/java/com/pgms/api/domain/member/service/AuthService.java
  api/src/main/java/com/pgms/api/domain/member/service/OauthService.java
  api/src/main/resources/templates/login.html
  core/core-domain/src/main/java/com/pgms/coredomain/exception/SecurityErrorCode.java
  core/core-security/src/main/java/com/pgms/coresecurity/config/WebSecurityConfig.java
  core/core-security/src/main/java/com/pgms/coresecurity/handler/OAuth2AuthenticationSuccessHandler.java
  core/core-security/src/main/java/com/pgms/coresecurity/service/OAuth2MemberService.java
  core/core-security/src/main/java/com/pgms/coresecurity/user/oauth/CustomOAuth2User.java
  core/core-security/src/main/java/com/pgms/coresecurity/user/oauth/OAuthAttributes.java
Labels: feat, member

#54 feat: 본인 랭킹 조회 기능 구현
  api/src/main/java/com/pgms/api/domain/member/controller/OAuthController.java
  api/src/main/java/com/pgms/api/domain/member/dto/response/AccountGetResponse.java
  api/src/main/java/com/pgms/api/domain/member/service/MemberService.java
  api/src/main/java/com/pgms/api/domain/member/service/OauthService.java
  api/src/main/java/com/pgms/api/domain/online/OnlineController.java
  api/src/main/java/com/pgms/api/global/annotation/SwaggerResponseAuth.java
  api/src/main/java/com/pgms/api/global/annotation/SwaggerResponseGameRoom.java
  api/src/main/java/com/pgms/api/scheduler/RankingScheduler.java
  core/core-domain/src/main/java/com/pgms/coredomain/domain/game/GameRank.java
  core/core-domain/src/main/java/com/pgms/coredomain/repository/GameRankRepository.java
Labels: docs, feat
